@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    transform: initial;
    opacity: initial; } }

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    transform: initial;
    opacity: initial; } }

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-0.3rem); }
  100% {
    transform: initial;
    opacity: initial; } }

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  80% {
    transform: translateY(0.3rem); }
  100% {
    transform: initial;
    opacity: initial; } }

.fade-in {
  opacity: 0;
  transition: opacity 1.3s;
  pointer-events: none; }
  .fade-in.appear {
    opacity: 1; }

.slide-in {
  opacity: 0;
  transition: 3s;
  pointer-events: none; }
  .slide-in.left {
    transform: translateX(-100%); }
  .slide-in.right {
    transform: translateX(80%); }
  .slide-in.left.appear, .slide-in.right.appear {
    opacity: 1;
    transform: translateX(0); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: inherit;
  text-decoration: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

*::selection {
  background-color: #45b86c;
  color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #575757;
  list-style-type: none;
  text-decoration: none; }

h1,
h2 {
  user-select: none; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation: fromLeft 1.5s 0.5s ease-out backwards; }
    @media screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1.5rem; } }
  .heading-primary--sub {
    display: block;
    letter-spacing: 1.75rem;
    font-size: 2rem;
    font-weight: 700;
    animation: fromRight 2s 2s ease-out backwards; }
    @media screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #73d662, #0b7451);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }
  @media screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    text-shadow: 0.5em 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: transform 0.2s, box-shadow 0.2s, opacity 1.3s;
  position: relative;
  font-size: 1.6rem;
  user-select: none;
  cursor: pointer;
  border: none; }

.btn:hover {
  transform: translate(0, -3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translate(0, -1px) scale(0.98);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #575757; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #45b86c;
  color: #fff; }
  .btn--green::after {
    background-color: #45b86c; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: fromBottom 1.2s ease-out backwards; }
  .btn--animated-header {
    animation-delay: 3s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  display: inline-block;
  color: #45b86c;
  border-bottom: 1px solid #45b86c;
  transition: all 0.2s;
  user-select: none; }

.btn-text:hover {
  border-radius: 0.25rem;
  background: #45b86c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  @media screen and (max-width: 56.25em) {
    .composition {
      position: static;
      display: flex; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    outline-offset: 2rem; }
    @media screen and (max-width: 56.25em) {
      .composition__photo {
        width: 33.33333%;
        position: relative;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          left: 0;
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          right: 0;
          top: -1.5rem;
          transform: scale(1.3);
          z-index: 2; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 0;
          top: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2;
      outline: 1.5rem solid #45b86c; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: 0.3s; }
  @media screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #73d662, #0b7451);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 60rem;
  -moz-perspective: 150rem;
  position: relative;
  user-select: none;
  height: 47rem; }
  .card__side {
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.7rem;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background: linear-gradient(120deg, #f0b002, #fa6f24); }
      .card__side--back--2 {
        background: linear-gradient(120deg, #73d662, #0b7451); }
      .card__side--back--3 {
        background: linear-gradient(120deg, #364add, #0f075a); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(120deg, #f0b002, #fa6f24), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(120deg, #73d662, #0b7451), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(120deg, #364add, #0f075a), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    border-radius: 3px;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(240, 176, 2, 0.85), rgba(250, 111, 36, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(115, 214, 98, 0.85), rgba(11, 116, 81, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(54, 74, 221, 0.85), rgba(15, 7, 90, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 5rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media screen and (max-width: 56.25em), screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 7px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.2); }
      .card__side {
        position: relative;
        height: 100%;
        border-radius: initial;
        box-shadow: initial; }
        .card__side--back {
          transform: initial;
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: initial; }
      .card__details {
        padding: 0.7rem 3rem;
        font-size: 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: initial;
        width: 100%;
        padding: 4rem 4rem 3rem; }
      .card__price-box {
        margin-bottom: 1.5rem; }
      .card__price-only {
        font-size: 1.5rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 4rem; } }

.testimonial {
  position: relative;
  width: 80%;
  margin: 0 auto;
  box-shadow: 1.5rem 3rem 6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 3px;
  padding: 6rem 10rem;
  font-size: 1.6rem;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%); }
  @media screen and (max-width: 56.25em) {
    .testimonial {
      width: 100%;
      padding: 4rem 8rem; } }
  @media screen and (max-width: 37.5em) {
    .testimonial {
      clip-path: initial;
      padding: 4rem 5rem; } }
  .testimonial__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 50%;
    margin-right: 2.5rem;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden; }
    @supports (clip-path: none) and (-webkit-clip-path: none) {
      .testimonial__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .testimonial__img {
    height: 100%;
    transform: translateX(-3.7rem) scale(1.4);
    backface-visibility: hidden;
    transition: 0.5s; }
  .testimonial__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: 0.5s; }
  .testimonial:hover .testimonial__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; }
  .testimonial:hover .testimonial__img {
    transform: scale(1) translateX(-3.7rem);
    filter: blur(2px) brightness(80%); }

.bg-video-container {
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }
  .bg-video-container__video {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  border: 0;
  border-bottom: 3px solid transparent;
  background-color: #fff;
  transition: 0.2s;
  display: block;
  width: 90%; }
  @media screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input::placeholder {
    color: #575757; }
  .form__input:focus {
    outline: 0;
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #45b86c; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #fa6f24; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: 0.3s;
  color: #000; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-label {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #45b86c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 0; }
  .form__radio-button::after {
    content: '';
    background-color: #45b86c;
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  cursor: pointer; }
  @supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.7); } }
  .popup--appear {
    visibility: visible;
    opacity: 1; }
  .popup__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    cursor: initial;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1.5rem 3rem 6rem rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    display: flex;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.8s 0.2s; }
    @media screen and (max-width: 56.25em) {
      .popup__body {
        width: 80%;
        max-height: 70vh;
        overflow-y: auto; } }
    .popup__body--appear {
      transform: translate(-50%, -50%) scale(1); }
  .popup__left-side {
    flex-basis: 33.3333333%; }
    @media screen and (max-width: 56.25em) {
      .popup__left-side {
        display: none; } }
  .popup__right-side {
    flex-basis: 66.66666666%;
    align-self: center;
    padding: 3rem 3rem; }
    @media screen and (max-width: 56.25em) {
      .popup__right-side {
        flex-basis: 100%; } }
  .popup__img {
    display: block;
    width: 100%;
    object-fit: cover;
    min-height: 50%;
    border-radius: 3px;
    overflow: hidden; }
    .popup__img:not(:last-child) {
      padding-bottom: 0.5rem; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee; }
    @media screen and (max-width: 56.25em) {
      .popup__text {
        column-count: 1; } }
  .popup__close:link, .popup__close:visited {
    color: #575757;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    display: inline-block;
    transition: all 0.2s;
    line-height: 01; }
  .popup__close:hover {
    color: #45b86c; }

.navigation {
  user-select: none; }
  .navigation > *:not(.navigation__nav) {
    display: none; }
  @media screen and (max-width: 56.25em) {
    .navigation > *:not(.navigation__checkbox) {
      display: initial; } }
  .navigation__nav {
    position: fixed;
    z-index: 20;
    top: 7.5rem;
    right: 6rem;
    left: 6rem;
    transition: all 0.5s ease-in-out;
    animation: fromTop 1.2s 4s backwards; }
    .navigation__nav--scrolled {
      top: 0;
      right: 3rem;
      left: 3rem;
      padding: 0.9rem 0;
      background: linear-gradient(120deg, #0b7451, #45b86c); }
  .navigation__list {
    display: flex;
    justify-content: space-around; }
  .navigation__item:not(:last-child) {
    color: #fff; }
  .navigation__logo {
    height: 4rem;
    padding: 0.3rem; }
  .navigation__item:last-child .navigation__link {
    border: 2px solid #f0b002;
    border-radius: 50px;
    background: #fff;
    color: #0b7451;
    opacity: 1; }
    .navigation__item:last-child .navigation__link:hover {
      background: #000;
      border-color: #73d662;
      color: #fff;
      box-shadow: 1.5rem 3rem 6rem rgba(0, 0, 0, 0.3); }
    .navigation__item:last-child .navigation__link:active, .navigation__item:last-child .navigation__link:focus {
      outline: none;
      transform: initial;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .navigation__item:last-child .navigation__link::after {
      display: none; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.5rem 2.2rem;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    transition: 0.2s;
    opacity: 0.75; }
  .navigation__link::after {
    content: '';
    height: 0.25rem;
    border-radius: 5px;
    position: absolute;
    left: 2.3rem;
    right: 2.5rem;
    bottom: 0.3rem;
    background: #f0b002;
    transform: scale(0);
    transition: 0.3s ease-in-out; }
  .navigation__link:hover {
    transform: translateY(-3px);
    opacity: 1; }
    .navigation__link:hover::after {
      transform: scale(1); }
  @media screen and (max-width: 56.25em) {
    .navigation__button {
      height: 7rem;
      width: 7rem;
      background-color: #fff;
      position: fixed;
      top: 3rem;
      right: 3rem;
      border-radius: 50%;
      z-index: 30;
      text-align: center;
      cursor: pointer;
      box-shadow: 1.5rem 3rem 6rem rgba(0, 0, 0, 0.3); }
    .navigation__background {
      height: 6rem;
      width: 6rem;
      background-image: radial-gradient(#73d662, #0b7451);
      position: fixed;
      top: 3.5rem;
      right: 3.5rem;
      z-index: 10;
      border-radius: 50%;
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
    .navigation__nav {
      animation: initial;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      visibility: hidden;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .navigation__list {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%; }
    .navigation__item {
      margin: 1rem; }
    .navigation__logo {
      height: 7rem;
      padding: 0.3rem; }
    .navigation__link:link, .navigation__link:visited {
      font-size: 3rem;
      font-weight: 300;
      padding: 0.5rem 2.2rem;
      text-decoration: none;
      border-radius: 3px;
      background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
      background-size: 230%;
      transition: 0.4s; }
      .navigation__link:link::after, .navigation__link:visited::after {
        display: none; }
      .navigation__link:link span, .navigation__link:visited span {
        margin-right: 1.5rem; }
    .navigation__link:hover, .navigation__link:active {
      background-position: right;
      color: #45b86c;
      transform: translateX(1rem); }
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80); }
    .navigation__checkbox:checked ~ .navigation__nav {
      opacity: 1;
      visibility: visible;
      width: 100%; }
    .navigation__icon {
      position: relative;
      margin-top: 3.5rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        display: inline-block;
        height: 2px;
        width: 3rem;
        background-color: #575757; }
      .navigation__icon::before, .navigation__icon::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.3s; }
      .navigation__icon::before {
        top: -0.8rem; }
      .navigation__icon::after {
        top: 0.8rem; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
      background-color: transparent; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        transform: rotate(-135deg);
        top: 0; }
      .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        transform: rotate(135deg);
        top: 0; } }

.row {
  max-width: 114rem;
  display: flex;
  margin: 0 auto; }
  @media screen and (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0 3rem; } }
  @media screen and (max-width: 56.25em) {
    .row {
      flex-wrap: wrap; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row [class^='col-']:not(:last-child) {
    margin-right: 6rem; }
    @media screen and (max-width: 56.25em) {
      .row [class^='col-']:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
  @media screen and (max-width: 56.25em) {
    .row [class^='col-'] {
      flex-basis: 100% !important; } }
  .row .col-1-of-2 {
    flex-basis: calc(100% - 6rem/ 2); }
  .row .col-1-of-3 {
    flex-basis: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    flex-basis: calc(2 (100% - 6rem) / 3); }
  .row .col-1-of-4 {
    flex-basis: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    flex-basis: calc(2 (100% - 6rem) / 4); }

.header {
  position: relative;
  height: 85vh;
  user-select: none;
  background-image: linear-gradient(to right bottom, rgba(115, 214, 98, 0.8), rgba(11, 116, 81, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top; }
  @media screen and (min-resolution: 192dpi) and (min-width: 37.5em), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), screen and (min-width: 75em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(115, 214, 98, 0.8), rgba(11, 116, 81, 0.8)), url("../img/hero.jpg"); } }
  .header__logo-box {
    display: none; }
  @media screen and (max-width: 56.25em) {
    .header__logo-box {
      display: initial;
      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 10; }
    .header__logo {
      height: 3.5rem; } }
  @supports (clip-path: none) and (-webkit-clip-path: none) {
    .header {
      height: 95vh;
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
      @media screen and (max-width: 56.25em) {
        .header {
          clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%); } } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f3f2f2; }
  @media screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    margin-bottom: 8rem; }
    @media screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem; }
  .footer__navigation {
    border-top: 1px solid #575757;
    display: inline-block;
    padding-top: 2rem; }
    @media screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f3f2f2;
    text-transform: uppercase;
    transition: color 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #45b86c;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #45b86c; }
  .footer__copyright {
    border-top: 1px solid #575757;
    padding-top: 2rem;
    width: 85%;
    float: right; }
    @media screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        width: 100%;
        text-align: center; } }

.section-about {
  background-color: #f3f2f2;
  padding: 25rem 0;
  margin-top: -25vh; }
  @media screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0 22rem;
      margin-top: -13vh; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(115, 214, 98, 0.8), rgba(11, 116, 81, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media screen and (max-width: 56.25em) {
    .section-features {
      padding: 12rem 0; } }

.section-tours {
  background-color: #f3f2f2;
  padding: 25rem 0 15rem;
  margin-top: -10rem;
  overflow-x: hidden; }
  @media screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem; } }

.section-testimonials {
  position: relative;
  padding: 15rem 0;
  overflow-x: hidden; }
  @media screen and (max-width: 56.25em) {
    .section-testimonials {
      padding: 10rem 0; } }

.section-booking {
  padding: 15rem 0;
  background: linear-gradient(135deg, #73d662, #0b7451); }
  @media screen and (max-width: 56.25em) {
    .section-booking {
      padding: 10rem 0; } }

.booking {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 3px;
  box-shadow: 1.5rem 3rem 6rem rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 75em) {
    .booking {
      background: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 65%, transparent 65%), url(../img/nat-10.jpg); } }
  @media screen and (max-width: 56.25em) {
    .booking {
      background: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(../img/nat-10.jpg); } }
  .booking__form {
    width: 50%;
    padding: 6rem; }
    @media screen and (max-width: 75em) {
      .booking__form {
        width: 65%; } }
    @media screen and (max-width: 56.25em) {
      .booking__form {
        width: 100%; } }
