@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MQ ORDER: base, typography --> layout folder (grid, then header, footer etc.) --> pages --> components

//MEDIA QUERY MANAGER
@mixin mqRespond($deviceName) {
  @if $deviceName == desktop-lg {
    @media screen and (min-width: 112.5em) {
      @content;
    }
  }
  @if $deviceName == tab-land {
    @media screen and (max-width: 75em) {
      @content;
    }
  }
  @if $deviceName == tab-port {
    @media screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $deviceName == mob {
    @media screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $deviceName == mob-sm {
    @media screen and (max-width: 30em) {
      @content;
    }
  }
}
