.footer {
  background-color: $color-grey-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  &__logo-box {
  }
  &__logo {
    width: 15rem;
  }
  &__navigation {
    border-top: 1px solid $color-grey-dark;
    display: inline-block;
    padding-top: 2rem;
  }
  &__list {
  }
  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      text-transform: uppercase;
      transition: color 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $color-primary;
    }
  }
  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding-top: 2rem;
    width: 85%;
    float: right;
  }
}
