.row {
  max-width: $grid-width;
  @include mqRespond(tab-port) {
    max-width: 60rem;
    padding: 0 3rem;
  }
  display: flex;
  margin: 0 auto;

  @include mqRespond(tab-port) {
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: $gap-y;
    @include mqRespond(tab-port) {
      margin-bottom: $gap-y-sm;
    }
  }

  [class^='col-'] {
    &:not(:last-child) {
      margin-right: $gap-x;

      @include mqRespond(tab-port) {
        margin-right: 0;
        margin-bottom: $gap-y-sm;
      }
    }

    @include mqRespond(tab-port) {
      flex-basis: 100% !important;
    }
  }

  .col-1-of-2 {
    flex-basis: calc(100% - #{$gap-x}/ 2);
  }

  .col-1-of-3 {
    flex-basis: calc((100% - 2 * #{$gap-x}) / 3);
  }

  .col-2-of-3 {
    flex-basis: calc(2 (100% - #{$gap-x}) / 3);
  }

  .col-1-of-4 {
    flex-basis: calc((100% - 3 * #{$gap-x}) / 4);
  }

  .col-2-of-4 {
    flex-basis: calc(2 (100% - #{$gap-x}) / 4);
  }
}
