.header {
  position: relative;
  height: 85vh;
  user-select: none;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/hero-small.jpg');

  @media screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    screen and (min-width: 75em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url('../img/hero.jpg');
  }

  &__logo-box {
    display: none;
  }

  @include mqRespond(tab-port) {
    &__logo-box {
      display: initial;
      position: absolute;
      top: 4rem;
      left: 4rem;
      z-index: 10;
    }

    &__logo {
      height: 3.5rem;
    }
  }
  background-size: cover;
  background-position: top;

  @supports (clip-path: none) and (-webkit-clip-path: none) {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    @include mqRespond(tab-port) {
      clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    }
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
