.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: $bord-rad-light;
    border: 0;
    border-bottom: 3px solid transparent;
    background-color: $color-white;
    transition: 0.2s;
    display: block;
    width: 90%;

    @include mqRespond(tab-port) {
      width: 100%;
    }

    &::placeholder {
      color: $color-grey-dark;
    }

    &:focus {
      outline: 0;
      box-shadow: $box-shadow-light;
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: 0.3s;
    color: $color-black;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include mqRespond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    cursor: pointer;
    font-size: $default-font-size;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -4px;
    left: 0;

    &::after {
      content: '';
      background-color: $color-primary;
      display: block;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-input {
    display: none;
  }
}
