.story {
  position: relative;
  width: 75%;
  margin: 0 auto;
  box-shadow: $box-shadow-medium;
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orange;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skew(12deg);
  }

  &__img {
    height: 100%;
    transform: translateX(-3.7rem) scale(1.4);
    backface-visibility: hidden;
    transition: 0.5s;
  }

  &__text {
    transform: skew(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
  &:hover &__img {
    transform: scale(1) translateX(-3.7rem);
    filter: blur(2px) brightness(80%);
  }
}
