.testimonial {
  position: relative;
  width: 80%;
  margin: 0 auto;
  box-shadow: $box-shadow-medium;
  background-color: rgba($color-white, 0.65);
  border-radius: 3px;
  padding: 6rem 10rem;
  font-size: $default-font-size;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%);

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orange;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 2.5rem;
    clip-path: circle(50% at 50% 50%);
  }

  &__img {
    height: 100%;
    transform: translateX(-3.7rem) scale(1.4);
    backface-visibility: hidden;
    transition: 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    opacity: 0;
    transition: 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }
  &:hover &__img {
    transform: scale(1) translateX(-3.7rem);
    filter: blur(2px) brightness(80%);
  }
}
