.fade-in {
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center bottom;
  transition: all 1.5s;
  pointer-events: none;

  &.appear {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-in {
  opacity: 0;
  transition: 3s;
  pointer-events: none;

  &.left {
    transform: translateX(-100%);
  }

  &.right {
    transform: translateX(80%);
  }

  &.left,
  &.right {
    &.appear {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
