.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;
  // margin-top: -20rem;

  @include mqRespond(tab-port) {
    padding: 17rem 0 22rem;
    margin-top: -13vh;
  }
}

.section-features {
  padding: 28rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/nat-4.jpg');
  background-size: cover;
  margin-top: -20rem;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);

  @include mqRespond(tab-port) {
    padding: 18rem 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem;
  margin-top: -20rem;
  @include mqRespond(tab-port) {
    padding: 25rem 0 10rem;
  }
  overflow-x: hidden;
}

.section-testimonials {
  position: relative;
  padding: 15rem 0;
  @include mqRespond(tab-port) {
    padding: 10rem 0;
  }
  overflow-x: hidden;
}

.section-booking {
  padding: 15rem 0;
  background: linear-gradient(
    135deg,
    $color-primary-light,
    $color-primary-dark
  );
  @include mqRespond(tab-port) {
    padding: 10rem 0;
  }
}

.booking {
  background: linear-gradient(
      105deg,
      rgba($color-white, 0.85) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: $bord-rad-light;
  box-shadow: $box-shadow-medium;

  @include mqRespond(tab-land) {
    background: linear-gradient(
        105deg,
        rgba($color-white, 0.85) 0%,
        rgba($color-white, 0.85) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  @include mqRespond(tab-port) {
    background: linear-gradient(
        105deg,
        rgba($color-white, 0.85) 0%,
        rgba($color-white, 0.85) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include mqRespond(tab-land) {
      width: 65%;
    }

    @include mqRespond(tab-port) {
      width: 100%;
    }
  }
}
